fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
docker
python-dotenv
alembic
pydantic

# Secrets management
boto3
cryptography

# Testing
pytest
pytest-asyncio

# Linting and formatting
flake8
black
isort
